@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
    font-family: 'OptimusPrinceps';
    font-style: normal;
    font-weight: normal;
    src: local('OptimusPrinceps'), url('OptimusPrinceps.woff') format('woff');
}
#full{
	background-image: url("../pics/7EIBD0g.gif")
}
#outer{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.80);
}
.container{
	width: 960px;
	margin: 0 auto;
}
.bigcontainer{
	width: 1100px;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 150px;
	padding: 20px 0px;
}
.logo{
	width: 100%;
	float: left;
}
.logo img{
	width: 100%;
	
}
.menu{
	width: 100%;
	float: left;
	text-align: center;
	
}
.menu ul{
	list-style: none;
	text-align: left;
	background: yellow;
}
.menu ul li{
	display: inline;
	line-height: 50px;
	margin: 0px;
	text-align: center;
}
.menu ul li a{
	color: gold;
	text-decoration:none;
	font-weight: bold;
	font-family: 'Sigmar One', cursive;
	display: block;
	}
.menu ul li a:hover{
	color: lightblue;
	text-decoration: underline;
	background: rgba(123,123,123,0.73);
}
.boxmenu{
	background:rgba(0,0,0,0.49)  ;
	width: 16.666666%;
	float: left;
}
.clearfix{
	clear: both;
}
#full img{
	height: 100%;
	width: 100%;
}
#main{
	width: 100%;
	height:100%;
}
.banner1{
	padding: 50px;	
}
.textbox{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	
}
.textbox h1{
	color:aliceblue;
	
}
.textbox p{
	color: aliceblue;
	
}
.img-banner1{
	width: 50%;
	display: inline-block;
	margin-left: -5px 
}
.img-banner1 img{
	width: 100%
}
.banner2{
	padding: 40px;	
}
.textbox2{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.textbox2 h1{
	color: aliceblue;
	
}
.textbox2 p{
	color: aliceblue
}
.img-banner2{
	width: 35%;
	display: inline-block;
	margin-right: 120px
}
.box {
	width: 18%;
	border: 3px solid dimgrey;
	text-align: center;
    display: inline-block;
	margin-left: 12px;
}	
.box a{
	font-weight: bold;
	color: gold;
	text-decoration: none;
	font-family: 'Sigmar One', cursive;
	display: block;
	background: rgba(0,0,0,0.56);
}
.box a:hover{
	color: lightblue;
	text-decoration: underline;
	background: rgba(123,123,123,0.73);
}
.img-banner3{
	display: inline;
}
#footer{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.80);
}
.footer{
	width: 100%;
	height: 150px;
	padding: 20px 0px;
}
.footer p{
	color: aliceblue;
	font-family:  "abril-fatface";
	font-size: 18px;
	text-align: center;
}
		



	


